<div class="contenedor animated fadeIn">
  <h1 class="text-center">Solicitar aseo</h1>


  <form style="margin-left: 17%;">
      <div class="form-floating">
          <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput"># Habitación</label>
        </div>

        

                <div class="form-floating">
                  <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com" type="time">
                  <label for="floatingInput" >Hora</label>  
                </div>

                <div class="form-floating">
                  <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Tipo de limpieza</label>
                </div>

                <button class="btn btn-outline-primary" style="margin-left:65%;"> <i class="fas fa-external-link"> </i> Enviar</button>
            
        
  </form>
</div>

