<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Cirugías Programadas</h1>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#Sala</th>
                        <th>Nombre del paciente</th>
                        <th>Diagnóstico del paciente</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cesar</td>
                        <td>Operación vesícula</td>
                        <td>07/04/22</td>
                        <td>06:23</td>
                     
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
