<div class="animated fadeIn">
    <h1 class="text-center">Consultar estudios</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de paciente</th>
                <th>Número de habitación</th>
                <th>Estudio solicitado</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Nombre del doctor</th>
                <th>Nivel de prioridad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaDatos">
                <td>{{ item.nombre_paciente }}</td>
                <td></td>
                <td>{{ item.estudio_solicitado }}</td>
                <td>{{ item.fecha }}</td>
                <td>{{ item.hora }}</td>
                <td>{{ item.nombre_doctor }}</td>
                <td>{{ item.nivel_prioridad }}</td>
            </tr>
        </tbody> 
    </table>
</div>

</div>