<div class="componente row animated fadeIn">

    <h1 class="text-center">CONSULTAR PROVEEDORES</h1>
    <table class="table w-100">

        <thead>
            <tr>
                <th>Nombre de la empresa</th>
                <th>Dirección</th>
                <th>Telefono de la empresa</th>
                <th>Correo electronico</th>
                <th>Nombre del proveedor</th>
                <th>Telefono del proveedor</th>
                <th>RFC</th>
                
            </tr>
        </thead>

        <tbody>
           <tr></tr>
        </tbody>

    </table>
</div>