<div class="animated fadeIn">
    <div class="row">
        <h1 class="text-center">Registrar gastos</h1>
       <!-- PENDIENTE EL QUE ARREGLES EL TITULO -->
        <h3 *ngIf="Monto>0" style="color:greenyellow;margin-left: 16%;">Monto disponible:  ${{Monto}}</h3>
        <h3 *ngIf="Monto<=0" style="color:red;margin-left: 16%;">Monto disponible:  {{Monto}}</h3>
   
     <form style="margin-left: 15%;" >
        <div class="form-floating">
            <input type="date" class="form-control w-75 m-2">
            <label for="floatingInput">Fecha</label>
        </div>

        <div class="form-floating">
            <input type="time" class="form-control w-75 m-2" >
            <label for="floatingInput">Hora</label>
        </div>

        <div class="form-floating">
            <input type="number" class="form-control w-75 m-2" >
            <label for="floatingInput">Monto</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" >
            <label for="floatingInput">Motivo</label>
        </div>


        

        

        <button class="btn btn-outline-info"  style="margin-left: 30%;height: 55px;"><i class="fa fa-save"></i> Registrar gasto</button>

    </form>
    </div>
    <br>
    <br>
</div>