<div class="contenedor animated fadeIn">
    <h1 class="text-center">Registrar baño</h1>


    <form style="margin-left: 17%;">
        <div class="form-floating">
            <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput"># Cama</label>
          </div>

          <div class="form-floating">
            <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre</label>
          </div>

          <div class="form-floating">
            <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Apellido Paterno</label>

            <div class="form-floating">
                <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Apellido materno</label>

                <div class="form-floating">
                    <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com" type="date">
                    <label for="floatingInput" >Fecha en que se realizó el baño</label>  
                  </div>

                  <div class="form-floating">
                    <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com" type="time">
                    <label for="floatingInput" >Hora en que se realizó el baño</label>  
                  </div>

                  <div class="form-floating">
                    <input type="email" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Enfermera a cargo</label>
                  </div>

                  <button class="btn btn-outline-primary m-2">Registrar</button>
                  <button class="btn btn-outline-danger" routerLink="/dashboard-enfermera/banos-pacientes">Regresar</button>
              </div>
          </div>
    </form>
</div>