<div class="componente row animated fadeIn">

    <h1 class="text-center">REGISTRAR PROVEEDOR</h1>

    <form style="margin-left: 21%; margin-top:5%">
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre de la empresa</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Dirección</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Telefono de la empresa</label>
          </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Correo electronico</label>
            </div>
            </div>
            <div class="mb-3">
              <div class="form-floating">
                <input type="text" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Nombre del proveedor</label>
              </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Telefono del proveedor</label>
                </div>
              </div>
              <div class="form-floating">
                <input type="email" class="form-control w-75"  id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">RFC</label>
              </div>
          
        <button class="btn btn-outline-primary mt-1" style="margin-left: 30%;height: 55px;
        ">
          <i class="fa fa-external-link"></i> Registrar
        </button>
      </form>
    
</div>
