<div class="animated fadeIn">
    <h1 class="text-center">Consultar Estudios</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estudio solicitado</th>
                <th>Nombre de doctor</th>
                <th>Nivel prioridad</th>
            </tr>
        </thead>
       <tbody>
            <tr>

                
                
            </tr>
        </tbody>
    </table>
   </div>

</div>