<div class="animated fadeIn">
    <div class="row">
        <h1 class="text-center">Registrar paciente</h1>
   
     <form style="margin-left: 15%;" [formGroup]="personalForm">
        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2"  id="floatingInput" formControlName="idCama" >
            <label for="floatingInput">No. cama</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2"  id="floatingInput" formControlName="nombre">
            <label for="floatingInput">Nombre</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput" formControlName="apellido_paterno">
                
            <label for="floatingInput">Apellido paterno</label>
          </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput"formControlName="apellido_materno">
            <label for="floatingInput">Apellido materno</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput" formControlName="peso">
            <label for="floatingInput">Peso</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput" formControlName="edad">
            <label for="floatingInput">Edad</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput" formControlName="diagnostico">
            <label for="floatingInput">Diagnostico</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" id="floatingInput" formControlName="tipoSangre">
            <label for="floatingInput">Tipo Sangre</label>
        </div>

        <div class="form-floating">
            <select type="text" class="form-select w-75 m-2" id="floatingInput" formControlName="doctorEncargado">

                <option value=""> Selecciona una opción ... </option>
                <option *ngFor="let items of listaDoctores" value="{{ items.numero_cedula}}"> {{ items.numero_cedula + " - "+ items.nombre +" "+ items.apellido_paterno + " "+ items.apellido_materno}} </option>

            </select>
            <label for="floatingInput">Doctor a cargo</label>
        </div>

        <div class="form-floating">
            <select type="text" class="form-select w-75 m-2" id="floatingInput" formControlName="enfermeraCargo">

                <option value=""> Selecciona una opción ... </option>
                <option *ngFor="let items of listaEnfermera" value='{{ items.numero_cedula + " - "+ items.nombre +" "+ items.apellido_paterno + " "+ items.apellido_materno }}'> {{ items.numero_cedula + " - "+ items.nombre +" "+ items.apellido_paterno + " "+ items.apellido_materno}} </option>

            </select>
            <label for="floatingInput">Enfermeros a cargo</label>
        </div>


        <button class="btn btn-outline-info" style="margin-left: 30%;height: 45px;" (click)="registrarPaciente();" ><i class="fa fa-save"></i> Registrar</button>

    </form>
    </div>
    <br>
    <br>
</div>