<div class="componente">

    <h1 class="text-center">SOLICITAR ESTUDIOS</h1>

    <form style="margin-left: 21%; margin-top:5%" [formGroup]="personalForm">
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" formControlName="nombre_paciente">
            <label for="floatingInput">Nombre de paciente</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" formControlName="numero_habitacion">
            <label for="floatingInput">Numero de habitacion</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="email" class="form-control w-75"  id="floatingInput" formControlName="estudio_solicitado">
            <label for="floatingInput">Estudio solicitado</label>
          </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <input type="date" class="form-control w-75"  id="floatingInput" formControlName="fecha">
              <label for="floatingInput">Fecha</label>
            </div>
            </div>
            <div class="mb-3">
              <div class="form-floating">
                <input type="time" class="form-control w-75"  id="floatingInput" formControlName="hora">
                <label for="floatingInput">Hora</label>
              </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input type="email" class="form-control w-75"  id="floatingInput" formControlName="nombre_doctor">
                  <label for="floatingInput">Nombre del doctor</label>
                </div>
              </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label ">Nivel de prioridad</label>
            <select class="form-select form-select-lg mb-3 w-75" aria-label=".form-select-lg example" formControlName="nivel_prioridad">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Alto">Alto</option>
              </select>
          </div>
        <button class="btn btn-outline-primary mt-1" (click)="registroEstudioPacienteDoctor();" style="margin-left: 30%;height: 55px;">
          <i class="fa fa-external-link"></i> Enviar Solicitud
        </button>
      </form>
    
</div>
