<div class="animated fadeIn">
    <h1 class="text-center">Consultar Citas</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Solicitante</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Asunto</th>
                <th>Nombre de doctor</th>
                <th>Número consultorio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Citas">

                <td>{{ item.nombre_solicitante }}</td>
                <td style="width: 158px;">{{ item.fecha }}</td>
                <td>{{ item.hora }}</td>
                <td> {{item.asunto}} </td>
                <td> {{item.nombre_doctor}} </td>
                <td style="text-align: center;">{{item.numero_consultorio}}</td>
                
            </tr>
        </tbody>
    </table>
   </div>

</div>