<div class="fix-header fix-sidebar card-no-border">
    
    <!-- ============================================ -->
    <!-- Codigo del navbar (barra en encabezado) -->
    <!-- ============================================ -->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile de la enfermera-->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img *ngIf="usuario[0].sexo == 'Masculino' " src="../assets/images/users/d6.jpg" alt="user" class="profile-pic" /><img *ngIf="usuario[0].sexo == 'Femenino' " src="../assets/images/users/d7.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                 <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img *ngIf="usuario[0].sexo == 'Masculino' " src="/assets/images/users/d6.jpg"  alt="user"><img *ngIf="usuario[0].sexo == 'Femenino' " src="/assets/images/users/d7.jpg"  alt="user"></div>
                                            <div class="u-text">
                                                <h4>{{usuario[0].nombre+" "+usuario[0].apellido_paterno+" "+usuario[0].apellido_materno}}</h4>
                                                <p class="text-muted">{{usuario[0].email}}</p></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" [routerLink]="['/trabajador-social/mi-perfil']" routerLinkActive="router-link-active" ><i class="ti-user"></i> Mi perfil</a></li>
                                    <li role="separator" class="divider"></li>
                                
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" (click)="cerrarSesion();" ><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- ================================================== -->


    <!-- ==================================================== -->
    <!--        Codigo de la clase aside (barra later)        -->
    <!-- ==================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Actividades</li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fa fa-bed"></i><span class="hide-menu"> Control de camas </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/trabajador-social/control-camas">Camas disponibles</a></li>
                            
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-file-alt"></i><span class="hide-menu">Consultas medicas</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/trabajador-social/registrar-citas">Registrar citas</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-citas">Consultar citas</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="fas fa-bong"></i><span class="hide-menu">Área Quimicos</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/trabajador-social/solicitar-estudio">Solicitar estudio</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-estudios">Consultar estudios medicos</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-user-md"></i><span class="hide-menu">Operaciones Doctor</span></a>
                        <ul aria-expanded="false" class="collapse">
                            
                            <li><a href="#" routerLink="/trabajador-social/registrar-doctor">Registrar doctor</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-doctores">Consultar doctores</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fa fa-user-nurse"></i><span class="hide-menu">Operaciones Enfermeras</span></a>
                        <ul aria-expanded="false" class="collapse">
                            
                            <li><a href="#" routerLink="/trabajador-social/registrar-enfermera">Registrar enfermera</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-enfermera">Consultar enfermeras</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-procedures"></i><span class="hide-menu">Pacientes Piso</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <!-- <li><a href="#" routerLink="/trabajador-social/registrar-paciente">Agendar cirugía</a></li> -->
                            <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Control de visitas</a></li>
                            <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Control de traslados</a></li>
                            <li><a href="#" routerLink="/trabajador-social/registrar-paciente">Registrar pacientes</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-pacientes">Visualizar pacientes</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-user-injured"></i><span class="hide-menu">Cirugías</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/trabajador-social/registrar-cirugia">Registrar cirugía</a></li>
                            <li><a href="#" routerLink="/trabajador-social/consultar-cirugia">Consultar cirugía</a></li>
                            <!-- <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Disponibilidad de quirofano</a></li>
                            <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Alta de cirugía</a></li>
                            <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Historial de cirugías</a></li> -->
                        </ul>
                    </li>

                    
                    
                    
             </ul>   
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ======================================================= -->


    <div class="page-wrapper">
       <div class="container-fluid r-aside">
           <div class="row">
                <!-- <div class="col-lg-8 col-xlg-9"> -->
                    <div class="card">
                        <div class="card-body">
                            
                            <router-outlet></router-outlet>
                            
                        </div>
                  <!--   </div> -->
                </div>
               
            </div>
            
        </div>
        
    </div>

</div>