<div class="card">
  <div class="card-body">
      <h1 class="card-title text-center">Baños realizados a pacientes</h1>
      <button class="btn btn-outline-info float-end" routerLink="/dashboard-enfermera/nuevo-baño"><i class="fa fa-plus"></i> Agregar baño</button>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>#Cama</th>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Apellido materno</th>
                      <th>Fecha en que se realizó el baño</th>
                      <th>Enfermera a cargo</th>
                    
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Juana</td>
                      <td>Lopez</td>
                      <td>Perez</td>
                      <td>03/04/22</td>
                      <td>Luisa Jimenez</td>
                      
                  </tr>
                 
              </tbody>
          </table>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>