<div class="animated fadeIn">
    <h1 class="text-center">
        Consultar cirugias previas
    </h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Numero de Quirofano</td>
                    <td>Nombre</td>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Asunto</td>
                    <td>Fecha</td>
                    <td>Hora</td>
                    <td>Nombre del doctor</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>