<div class="componente">

    <h1 class="text-center">SOLICITAR ESTUDIOS</h1>

    <form [formGroup]="personalForm" style="margin-left: 21%; margin-top:5%">
        <div class="mb-3">
          <div class="form-floating">
            <select  class="form-select w-75" formControlName="nombre_paciente" id="floatingInput">
                <option value=""></option>
                <option value="{{item.nombre+' '+item.apellido_paterno+' '+item.apellido_paterno}}" *ngFor="let item of datos">{{item.nombre+" "+item.apellido_paterno+" "+item.apellido_paterno}}</option>
            </select>
            <label for="floatingInput">Nombre de paciente</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <select class="form-select w-75" formControlName="numero_habitacion" id="floatingInput">
                <option value=""></option>
                <option *ngFor="let item of datos" value="{{item.idCama}}">{{item.idCama}} ({{item.nombre+" "+item.apellido_paterno+" "+item.apellido_materno}})</option>
            </select>
            <label for="floatingInput">Numero de habitacion</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="text" class="form-control w-75" formControlName="estudio_solicitado" id="floatingInput" >
            <label for="floatingInput">Estudio solicitado</label>
          </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <input type="date" class="form-control w-75" formControlName="fecha" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Fecha</label>
            </div>
            </div>
            <div class="mb-3">
              <div class="form-floating">
                <input type="time" class="form-control w-75" formControlName="hora" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Hora</label>
              </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control w-75" formControlName="nombre_doctor" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Nombre del trabajador social</label>
                </div>
              </div>
          <div class="mb-3">
            <label class="form-label ">Nivel de prioridad</label>
            <select class="form-select form-select-lg mb-3 w-75" formControlName="nivel_prioridad" aria-label=".form-select-lg example">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Alto">Alto</option>
              </select>
          </div>
        <button (click)="registrarEstudio()"class="btn btn-outline-primary mt-1" style="margin-left: 30%;height: 55px;">
          <i class="fa fa-external-link"></i> Enviar Solicitud
        </button>
      </form>
    
</div>
