<div class="animated fadeIn">
    <h1 class="text-center">Consultar gastos</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Monto</th>
                <th>Motivo</th>
                
            </tr>
        </thead>
        <tr></tr>
       <!--  <tbody>
            <tr *ngFor="let item of Citas">

                <td>{{ item.nombre_solicitante }}</td>
                <td style="width: 158px;">{{ item.fecha }}</td>
                <td>{{ item.hora }}</td>
                <td> {{item.asunto}} </td>
                <td> {{item.nombre_doctor}} </td>
                <td style="text-align: center;">{{item.numero_consultorio}}</td>
                
            </tr>
        </tbody> -->
    </table>
   </div>

</div>