<div class="animated fadeIn">
    <h1 class="text-center">Consultar Pacientes</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th># Cama</th>
                <th>Nombre del paciente</th>
                <th>Peso</th>
                <th>Edad</th>
                <th>Diagnostico</th>
                <th>Tipo de Sangre</th>
                <th>Doctor encargado</th>
                <th *ngIf="rol == 'Trabajador Social'">Acciones</th>
            </tr>
        </thead>
       <tbody>
            <tr *ngFor="let item of lista">
                <td>{{item.idCama}}</td>
                <td>{{item.nombre+' '+item.apellido_paterno+' '+item.apellido_materno }}</td>
                <td>{{item.peso}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.diagnostico}}</td>
                <td>{{item.tipoSangre}}</td>
                <td>{{item.doctorEncargado}}</td>
                <td *ngIf="rol=='Trabajador Social'">
                   <div class="col">
                    <!-- <div class="row">
                        <button class="btn btn-outline-warning m-1">Editar</button>
                    </div> -->
                    <div class="row">
                        <button class="btn btn-outline-danger m-1 " (click)="eliminarPaciente(item._id);">Eliminar</button>
                    </div>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
   </div>

</div>