<h1 class="text-center"*ngIf="datosEnfermero[0].sexo == 'Masculino'">Bienvenido {{datosEnfermero[0].nombre + " "+ datosEnfermero[0].apellido_paterno+" "+ datosEnfermero[0].apellido_materno}}</h1>
<h1 class="text-center"*ngIf="datosEnfermero[0].sexo == 'Femenino'">Bienvenida {{datosEnfermero[0].nombre + " "+ datosEnfermero[0].apellido_paterno+" "+ datosEnfermero[0].apellido_materno}}</h1>

  
                   <!--  <div class="col-lg-3">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                                    <div class="align-self-center">
                                        <h6 class="text-white m-t-10 m-b-0">Material asignado</h6>
                                        <h2 class="m-t-0 text-white">987,563</h2></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
<!-- ==================================================================== -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card" >
                            <div class="card-body">
                                <h2 class="text-center">RECUERDA</h2><br>

                                <p align="justify">Estos apartados son de consulta rapida son para visualizar, tus pacientes asignados, apoyo a cirugias y solicitud de aseo. También en la parte de la derecha se consulta el material que se le asignara</p>
                                <br>
                                <p>Si quieres ver detallado las secciones las puedes visualizar en la barra de navegación de la derecha.</p>
                                <br>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>Material asignado por enfermera</h4>
                                <table class="table browser m-t-30 no-border">
                                    <tbody>
                                        <tr>
                                            <td style="width:40px"><img style="width:40px" src="../assets/images/MaterialEnfermera/jeringa.png" alt=logo /></td>
                                            <td>Jeringas</td>
                                            <td class="text-right">10 Paquetes</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/algodon.jpg" style="width:40px" alt=logo /></td>
                                            <td>Algodon</td>
                                            <td class="text-right">4 bolsas</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/gasas.jpg" style="width:40px" alt=logo /></td>
                                            <td>Gasas</td>
                                            <td class="text-right">4 Paquetes</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/Suero.jpg" style="width:40px" alt=logo /></td>
                                            <td>Bolsas de suero</td>
                                            <td class="text-right">3 bolsas</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/cinta.jpg" style="width:40px" alt=logo /></td>
                                            <td>Cintas adhesivos</td>
                                            <td class="text-right">2 rollos</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/alcohol.jpg" style="width:40px" alt=logo /></td>
                                            <td>Alcohol</td>
                                            <td class="text-right">1 Lt</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../assets/images/MaterialEnfermera/contenedor_agujas.jpg" style="width:40px" alt=logo /></td>
                                            <td>Contenedor de agujas</td>
                                            <td class="text-right">1 Bote</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =================================================== -->
