<div class="animated fadeIn">
    <h1 class="text-center">
        Consultas Medicas Previas
    </h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    
                    <td>Nombre del solicitante</td>
                    <td>Fecha</td>
                    <td>Hora</td>
                    <td>Nombre doctor</td>
                    <td>Tipo consulta</td>
                    <td>Estatus</td>
                    <td>Cambiar Estatus</td>
                    <td>Total a pagar</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of citas">
                    <td>{{item.nombre_solicitante}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.hora}}</td>
                    <td>{{item.nombre_doctor}}</td>
                    <td>{{item.asunto}}</td>
                    <td>{{item.estatus}}</td>
                    <td *ngIf="item.estatus == 'En proceso' "><button class="btn btn-warning">Finalizar</button></td>
                    <td *ngIf="item.estatus == 'Finalizada'" style="color:red">Cita atendida</td>
                    <td *ngIf="item.estatus == 'Agendada'" style="color:red">Pendiente</td>
                    <td>${{precioPago}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>