<div class="animated fadeIn">
    <li class="nav-item hidden-xs-down search-box"> 
        <a style="width: 80px;" class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-search"></i>
        </a>
        <form class="app-search">
            <input type="search" class="form-control" placeholder="Buscar & enter" (keyup)="buscar(buscarTexto.value)" #buscarTexto> 
            <a class="srh-btn"><i class="ti-close"></i></a> 
        </form>
    </li>
    <h1 class="text-center mt-2">Consultar enfermeras </h1>

   <div class="row">
   
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Nombre enfermera</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Cédula profesional</th>
                <th>Rol</th>
                <th>Celular</th>
                <th>Sexo</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tr></tr>
       <tbody>
        <tr *ngFor="let item of datos | filtro:filtrado">

            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido_paterno }}</td>
            <td>{{ item.apellido_materno }}</td>
            <td> {{item.numero_cedula}} </td>
            <td> {{item.rol}} </td>
            <td style="text-align: center;">{{item.celular}}</td>
            <td>{{item.sexo}}</td>
            <td>
                <button class="btn btn-outline-warning m-1"><i class="fa fa-edit"></i> Editar</button>
                <button (click)="eliminarDoctor(item._id)" class="btn btn-outline-danger m-1"><i class="fa fa-cancel"></i> Borrar</button>
            </td>
            
        </tr>
        </tbody>
    </table>
   </div>

</div>