<div class="componente">

    <h1 class="text-center">ANOTACIONES MEDICAS</h1>
    <table class="table w-100">

        <thead>
            <tr>
                <th>#Cama</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th style="width:88px">Peso</th>
                <th style="width:88px">Tipo de sangre</th>
                <th>Edad</th>
                <th>Diagnostico</th>
                <th style="width:260px">Instrucciones</th>

                <!-- <th>Acciones</th> -->

            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <th>Cesar</th>
                <th>Rodriguez</th>
                <th>Franco</th>
                <th>83 kg.</th>
                <th>O -</th>
                <th>22</th>
                <th>Lesion Aductor</th>
                <th>
                    <button (click)="visualizar()" class="btn btn-outline-primary"><i class="fa fa-eye"></i>
                        Consultar</button>
                    <button class="btn btn-outline-warning m-1"><i class="fa fa-edit"></i> Editar</button>
                </th>




            </tr>
        </tbody>


    </table>


    



</div>