<div class="fix-header fix-sidebar card-no-border">
    
    <!-- ============================================ -->
    <!-- Codigo del navbar (barra en encabezado) -->
    <!-- ============================================ -->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile de la enfermera-->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img *ngIf="datosEnfermero[0].sexo == 'Femenino' " src="../assets/images/users/d3.jpg" alt="user" class="profile-pic" /> <img *ngIf="datosEnfermero[0].sexo == 'Masculino' " src="../assets/images/users/d4.jpg" alt="user" class="profile-pic" /> </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                
                                 <ul class="dropdown-user">
                                     
                                    <li>
                                        <div class="dw-user-box">
                                            
                                            <div class="u-img" width="400"><img *ngIf="datosEnfermero[0].sexo == 'Femenino' "  src="/assets/images/users/d3.jpg" alt="user"> <img *ngIf="datosEnfermero[0].sexo == 'Masculino' " src="/assets/images/users/d4.jpg" alt="user"></div>
                                            <div class="u-text">
                                                <h4>{{datosEnfermero[0].nombre +" "+ datosEnfermero[0].apellido_paterno +" "+ datosEnfermero[0].apellido_materno}}</h4>
                                                <p class="text-muted">Usuario: {{datosEnfermero[0].email}}</p></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" [routerLink]="['/dashboard-enfermera/mi-perfil']" routerLinkActive="router-link-active" ><i class="ti-user"></i> Mi perfil</a></li>
                                    <li role="separator" class="divider"></li>
                                
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active"  (click)="cerrarSesion()" routerLinkActive="router-link-active" ><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- ================================================== -->


    <!-- ==================================================== -->
    <!--        Codigo de la clase aside (barra later)        -->
    <!-- ==================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Actividades</li>
                    <!-- <!-- <li> <a class="has-arrow waves-effect waves-dark" [routerLink]="['/dashboard-enfermera/']" routerLinkActive="router-link-active"  aria-expanded="false" ><i class="fa fa-home"></i><span class="hide-menu">Inicio</span></a> -- ESTO ESTA DE MAS ES UN INICIO >  -->
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Pacientes</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-enfermera/mis-pacientes">Pacientes a mi cargo</a></li>
                            <li><a href="#" routerLink="/dashboard-enfermera/banos-pacientes">Baño de pacientes</a></li>
                        </ul>
                    </li>
                    <!-- <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fa fa-prescription-bottle"></i><span class="hide-menu">Cirugías</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-enfermera/cirugias">Apoyo a cirugías</a></li>
                        </ul>
                    </li> -->
                    <li> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="fa fa-stethoscope"></i><span class="hide-menu">Material</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-enfermera/material-asignado">Material básico asignado</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="fa-solid fa-pump-medical"></i><span class="hide-menu">Aseo</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#" routerLink="/dashboard-enfermera/solicitar-aseo">Solicitar Aseo</a></li>
                        </ul>
                    </li>
                    
                    
             </ul>   
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ======================================================= -->


    <div class="page-wrapper">
       <div class="container-fluid r-aside">
           <div class="row">
                <!-- <div class="col-lg-8 col-xlg-9"> -->
                    
                    <div class="card">
                        <div class="card-body">
                            
                            <router-outlet></router-outlet>
                            
                        </div>
                  <!--   </div> -->
                </div>
               
            </div>
            
        </div>
        
    </div>

</div>