<div class="animated fadeIn">
    <div class="row">
        <h1 class="text-center">Registar cirugía</h1>
   
     <form style="margin-left: 15%;"  [formGroup]="formulario" >
        <div class="form-floating">
            <input type="text"   class="form-control w-75 m-2" formControlName="idConsultorio"  id="floatingInput" >
            <label for="floatingInput">No. de consultorio</label>
        </div>

        <div class="form-floating">
            <input type="text"  class="form-control w-75 m-2" formControlName="nombre" id="floatingInput">
            <label for="floatingInput">Nombre del paciente</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" formControlName="nombre_doctor" id="floatingInput">
            <label for="floatingInput">Doctor a cargo </label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" formControlName="tipo_cirugia" id="floatingInput">
            <label for="floatingInput">Tipo de cirugía</label>
        </div>

        <div class="form-floating">
            <input type="date" class="form-control w-75 m-2" formControlName="fecha" id="floatingInput">
            <label for="floatingInput">Fecha</label>
        </div>

        <div class="form-floating">
            <input type="time" class="form-control w-75 m-2" formControlName="hora" id="floatingInput">
            <label for="floatingInput">Hora</label>
        </div>

        <button class="btn btn-outline-info" (click)="registrarCirugia()"  style="margin-left: 30%;height: 55px;"><i class="fa fa-save"></i> Registrar</button>

    </form>
    </div>
    <br>
    <br>
</div>