<div class="animated fadeIn">
    <div class="row">

        <h1 class="text-center">Registrar enfermera</h1>
   
        

        <form style="margin-left: 15%;" [formGroup]="personalForm" >
            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control w-75 m-2"  id="floatingInput" >
                <label for="floatingInput">Email</label>
            </div>
    
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control w-75 m-2"  id="floatingInput" >
                <label for="floatingInput">Password</label>
            </div>
    
            <div class="form-floating">
                <input type="text" formControlName="nombre" class="form-control w-75 m-2" id="floatingInput">
                    
                <label for="floatingInput">Nombre doctor</label>
              </div>
    
            <div class="form-floating">
                <input type="text" formControlName="apellido_paterno" class="form-control w-75 m-2" id="floatingInput">
                <label for="floatingInput">Apellido paterno</label>
            </div>
    
            <div class="form-floating">
                <input type="text" formControlName="apellido_materno" class="form-control w-75 m-2" id="floatingInput">
                <label for="floatingInput">Apellido materno</label>
            </div>
    
            <div class="form-floating">
                <input type="text" formControlName="numero_cedula" class="form-control w-75 m-2" id="floatingInput">
                <label for="floatingInput">Cédula profesional</label>
            </div>
    
            <!-- <div class="form-floating">
                <input type="text" class="form-control w-75 m-2" id="floatingInput">
                <label for="floatingInput">Rol</label>
            </div> -->
    
            <div class="form-floating">
                <input type="text" formControlName="celular" class="form-control w-75 m-2" id="floatingInput">
                <label for="floatingInput">Celular</label>
            </div>
    
            <div class="form-floating">
                <select class="form-select w-75 m-2" formControlName="sexo" id="floatingInput">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <label for="floatingInput">Sexo</label>
            </div>
            <button class="btn btn-outline-info" (click)="registrarEnfermera();"  style="margin-left: 30%;height: 55px;"><i class="fa fa-save"></i> Registrar</button>
    
        </form>

    </div>
    <br>
    <br>
</div>