

<div class="componente">

    <h1 class="text-center">PACIENTES</h1>
    <table class="table w-100">

        <thead>
            <tr>
                <th># Cama</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Peso</th>
                <th>Edad</th>
                <th>Diagnositco</th>
                <th>Sangre</th>
                <th>Enfermera</th>
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of datosPaciente">
                <td>{{item.idCama}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido_paterno}}</td>
                <td>{{item.apellido_materno}}</td>
                <td>{{item.peso}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.diagnostico}}</td>
                <td>{{item.tipoSangre}}</td>
                <td>{{item.enfermeraCargo}}</td>
                <!-- <td>{{item.doctorEncargado}}</td> -->
               
            </tr>
        </tbody>

    </table>

    
</div>