<div class="contenedor animated fadeIn">
    <h1 class="text-center">Registrar prueba patologica</h1>
  
  
    <form style="margin-left: 15%;">
        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Situacion clinica</label>
          </div>
  
          
  
                  <div class="form-floating">
                    <input type="time" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com" type="text">
                    <label for="floatingInput" >Tipo de biopsia</label>  
                  </div>
  
                  <div class="form-floating">
                    <input type="text" class="form-control w-75 m-2"  id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Diagnostico critico</label>
                  </div>
  
                  <button class="btn btn-outline-primary" style="margin-left:30%;"> <i class="fas fa-external-link"> </i> Enviar</button>
              
          
    </form>
  </div>
  
  