<div class="animated fadeIn">
    <h1 class="text-center">Consultar Citas</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Solicitante</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Asunto</th>
                <th>Nombre de doctor</th>
                <th>Número consultorio</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
   </div>

</div>
