<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Material disponible</h1>
        
        <h2 class="text-center mt-5">RECUERDA</h2>
        <p>Este apartado es para consultar los instrumentos que debes pedir con vale.</p>

        <div class="row">
            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>

        </div>


        <!-- Aqui inicia un nuevo row (fila) -->

        <div class="row">
            <!-- columna1 -->
            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>
            <!-- columna2 -->
            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>
            <!-- columna3 -->
            <div class="col">
                <div class="card" style="border:1px solid black">
                    <div class="card-title">
                        <h3 class="text-center">Glucometro</h3>
                    </div>
                    <div class="card-body">
                        <img src="./../../../../assets/images/glucometro.png" width="200"alt="glucometro">
                    </div>
                </div>
            </div>


        </div>

    </div>
  </div>
  