<div class="animated fadeIn">
     <!--Little Profile widget-->
     <div class="">
        <div class="card">
            <div class="card-body little-profile text-center">
                <div class="pro-img m-t-20">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol == 'Enfermera' " src="../assets/images/users/d3.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Enfermero' " src="../assets/images/users/d4.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Trabajador Social' " src="../assets/images/users/d6.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol == 'Trabajador Social' " src="../assets/images/users/d7.jpg" alt="user">
                    <!-- Quimico -->
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Quimico' " src="../assets/images/users/d2.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol == 'Quimico' " src="../assets/images/users/d7.jpg" alt="user">
                    <!-- Doctor -->
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Doctor' " src="../assets/images/users/d1.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol == 'Doctor' " src="../assets/images/users/d3.jpg" alt="user">
                    <!-- Contralor -->
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Contraloria' " src="../assets/images/users/d6.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol == 'Contraloria' " src="../assets/images/users/d7.jpg" alt="user">
                    <!-- Interconsultas -->
                    <img *ngIf="datos[0].sexo == 'Masculino' && datos[0].rol == 'Jefe Interconsultas' " src="../assets/images/users/d1.jpg" alt="user">
                    <img *ngIf="datos[0].sexo == 'Femenino' && datos[0].rol ==  'Jefe Interconsultas' " src="../assets/images/users/d3.jpg" alt="user">

                </div>
                <h3 class="m-b-0">{{datos[0].nombre +" "+datos[0].apellido_paterno+" "+datos[0].apellido_materno}}</h3>
                <h6 class="text-muted">{{datos[0].email}}</h6>
                <ul class="list-inline soc-pro m-t-30">
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-facebook-square"></i></li>
                    <li><i class="fa fa-google-plus"></i></li>
                    <li><i class="fa fa-youtube-play"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                </ul>
            </div>
            <div class="text-center bg-light">
                <div class="row">
                    <div class="col-6  p-20 b-r">
                        <h4 class="m-b-0 font-medium">{{datos[0].numero_cedula}}</h4><small>Cedula Profesional</small></div>
                    <div class="col-6  p-20">
                        <h4 class="m-b-0 font-medium">{{datos[0].rol}}</h4><small>Puesto</small></div>
                </div>
            </div>
            <div class="text-center bg-light mt-2">
                <div class="row">
                    <div class="col-6  p-20 b-r">
                        <h4 class="m-b-0 font-medium">{{datos[0].sexo}}</h4><small>Sexo</small></div>
                    <div class="col-6  p-20">
                        <h4 class="m-b-0 font-medium">{{datos[0].celular}}</h4><small>N° Celular</small></div>
                </div>
            </div>
            <div class="card-body text-center">
                <a *ngIf="datos[0].rol == 'Enfermera' || datos[0].rol == 'Enfermero' " href="#" [routerLink]="['/dashboard-enfermera/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>
                <a *ngIf="datos[0].rol == 'Trabajador Social' " href="#" [routerLink]="['/trabajador-social/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>
                <!-- Quimico -->
                <a *ngIf="datos[0].rol == 'Quimico' " href="#" [routerLink]="['/dashboard-quimico/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>
                <!-- Doctor -->
                <a *ngIf="datos[0].rol == 'Doctor' " href="#" [routerLink]="['/dashboard-doctor/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>
                <!-- Contraloria -->
                <a *ngIf="datos[0].rol == 'Contraloria' " href="#" [routerLink]="['/dashboard-contraloria/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>
                <!-- Interconsultas -->
                <a *ngIf="datos[0].rol == 'Jefe Interconsultas' " href="#" [routerLink]="['/dashboard-interconsultas/']" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-danger btn-md btn-rounded">Regresar</a>

            </div>
        </div>
        
    </div>
    <!--Little Profile widget-->    
</div>