<div class="componente">

    <h1 class="text-center">CIRUGIAS PROGRAMADAS</h1>
    <table class="table w-100"> 

        <thead>
            <tr>
                <th># Consultorio</th>
                <th>Nombre del paciente</th>
                <th>Tipo de cirugia</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Doctor encargado</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of listarCirugias">
                <td>{{item.idConsultorio}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.tipo_cirugia}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.hora}}</td>
                <td>{{item.nombre_doctor}}</td>
                <td></td>
            </tr>
        </tbody>

    </table>
</div>
