<div class="animated fadeIn">
    <div class="row">
        <h1 class="text-center">Registrar consultas</h1>
   
     <form style="margin-left: 15%;" [formGroup]="personalForm" >
        <div class="form-floating">
            <input type="text" class="form-control w-75 m-2" formControlName="nombre_solicitante">
            <label for="floatingInput">Nombre del solicitante</label>
        </div>

        <div class="form-floating">
            <input type="date" class="form-control w-75 m-2" formControlName="fecha" >
            <label for="floatingInput">Fecha</label>
        </div>

        <div class="form-floating">
            <input type="time" class="form-control w-75 m-2" formControlName="hora" >
            <label for="floatingInput">Hora</label>
        </div>

        <div class="form-floating">
            <select class="form-select w-75 m-2" formControlName="nombre_doctor">
                <option value="">Selecciona una opción</option>
                <option value=""*ngFor="let item of datos" >{{datos[0].nombre}}</option>
                
            </select>
            <label for="floatingInput">Nombre Doctor</label>
        </div>

        <div class="form-floating">
            <select class="form-select w-75 m-2" formControlName="asunto" id="floatingInput" >
                <option value="Consulta medica">Consulta medica</option>
                    <option value="Certificado medico">Certificado medico</option>
                    <option value="Control del niño sano">Control del niño sano</option>
                    <option value="Control de embarazo">Control de embarazo</option>
                    <option value="Planificacion familiar">Planificacion familiar</option>
                    <option value="Oximetria">Oximetria</option>
                    <option value="Toma de presion arterial">Toma de presion arterial</option>
                    <option value="Aplicacion de inyeccion">Aplicacion de inyeccion</option>
                    <option value="Prueba para detectar niveles de azúcar">Prueba para detectar niveles de azúcar</option>
                    <option value="Lavado Ótico">Lavado Ótico</option>
                    <option value="Retiro de puntos">Retiro de puntos</option>
                    <option value="Retiro de sondas">Retiro de sondas</option>
                    <option value="Extraccion de uña enterrada">Extraccion de uña enterrada</option>
                    <option value="Nebulizaciones">Nebulizaciones</option>
                    <option value="Curacion">Curacion</option>
                    <option value="Sutura">Sutura</option>
            </select>
                <label for="exampleInputEmail1" class="form-label ">Tipo de consulta</label>
               
              
        </div>

        <div class="form-floating">
            <input type="number" class="form-control w-75 m-2" formControlName="numero_consultorio" >
            <label for="floatingInput">Número de consultorio</label>
        </div>

        <button class="btn btn-outline-info"  style="margin-left: 30%;height: 55px;"><i class="fa fa-save"></i> Registrar solicitud</button>

    </form>
    </div>
    <br>
    <br>
</div>