<div class="container">
    <h1 class="text-title text-center">Instrucciones medicas</h1>

    <div class="contendor mt-2 text-center">
        <label>Número de cama: </label><br>
        <label>Nombre del Paciente: </label><br>
        <label>Diagnositico medico: </label>
    </div>

    

</div>