<div class="animated fadeIn">
    <h1 class="text-center">Consultar cirugías</h1>

   <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>No. de consultorio</th>
                <th>Nombre del paciente</th>
                <th>Doctor a cargo</th>
                <th>Tipo de cirugía</th>
                <th>Fecha</th>
                <th>Hora</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tr></tr>
        <tbody>
            <tr *ngFor="let item of variable">

                <td>{{item.idConsultorio}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.nombre_doctor}}</td>
                <td>{{item.tipo_cirugia}}</td>
                <td style="width: 150px;">{{item.fecha}}</td>
                <td>{{item.hora}}</td>
                <td style="width: 208px;">
                    <button class="btn btn-outline-warning m-1">Editar</button>
                    <button class="btn btn-outline-danger">Eliminar</button>
                </td>
                
            </tr>
        </tbody> 
    </table>
   </div>

</div>