<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Mis pacientes</h1>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th># Cama</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido materno</th>
                        <th>Peso</th>
                        <th>Diagnostico</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <tr *ngFor="let item of listaEnfermera">
                        <td>1</td>
                        <td>Juan</td>
                        <td>Pérez</td>
                        <td>Gomez</td>
                        <td>60kg</td>
                        <td>COVID </td>
                       
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
