<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card" >
                <div class="card-title">
                    <h2 class="text-center">Cama {{camas[0].numero_cama}}</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 10%;" alt="">
                </div>
                <div *ngIf="camas[0].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[0].status_cama}}</h5>
                </div>
                <div *ngIf="camas[0].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[0].status_cama}}</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 2</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80"style="margin-left: 10%;" alt="">
                </div>
                <div *ngIf="camas[1].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">Disponible</h5>
                </div>
                <div *ngIf="camas[1].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[1].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama 3 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 3</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80"style="margin-left: 10%;" alt="">
                </div>
                <div *ngIf="camas[2].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">Disponible</h5>
                </div>
                <div *ngIf="camas[2].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[2].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama 4 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 4</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 10%;" alt="">
                </div>
                <div  *ngIf="camas[3].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[3].status_cama}}</h5>
                </div>
                <div *ngIf="camas[3].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[3].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama5 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 5</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80"style="margin-left: 10%;" alt="">
                </div>
                <div *ngIf="camas[4].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[4].status_cama}}</h5>
                </div>
                <div *ngIf="camas[4].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[4].status_cama}}</h5>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 6</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 10%;" alt="">
                </div>
                <div *ngIf="camas[5].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[5].status_cama}}</h5>
                </div>
                <div *ngIf="camas[5].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[5].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama 2 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 7</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 15%;">
                </div>
                <div *ngIf="camas[6].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[6].status_cama}}</h5>
                </div>
                <div *ngIf="camas[6].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[6].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama 3 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 8</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 15%;"alt="">
                </div>
                <div *ngIf="camas[7].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[7].status_cama}}</h5>
                </div>
                <div *ngIf="camas[7].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[7].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama 4 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 9</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80" style="margin-left: 15%;" alt="">
                </div>
                <div *ngIf="camas[8].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[8].status_cama}}</h5>
                </div>
                <div *ngIf="camas[8].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[8].status_cama}}</h5>
                </div>
            </div>
        </div>
<!-- Cama5 -->
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center">Cama 10</h2>
                </div>
                <div class="card-body">
                    <img src="/assets/images/MaterialEnfermera/cama.png" width="80"style="margin-left: 15%;" alt="">
                </div>
                <div *ngIf="camas[9].status_cama == 'Disponible' " class="card-footer bg-success">
                    <h5 class="text-center" style="color:white">{{camas[9].status_cama}}</h5>
                </div>
                <div *ngIf="camas[9].status_cama == 'Ocupado' " class="card-footer bg-danger">
                    <h5 class="text-center" style="color:white">{{camas[9].status_cama}}</h5>
                </div>
            </div>
        </div>

    </div>




</div>