

<div class="componente">

    <h1 class="text-center">Consultar pruebas</h1>
    <table class="table w-100">
        <tr></tr>

        <thead>
            <tr>
                
                <th>Situacion clinica</th>
                <th>Tipo de biopsia</th>
                <th>Diagnostico critico</th>
               <!--  <th>Apellido Materno</th>
                <th>Peso</th>
                <th>Edad</th>
                <th>Diagnositco</th>
                <th>Sangre</th>
                <th>Doctor</th>
                <th>Acciones</th> -->
        </thead>

        <tbody>
           
                
                    
                    
                    <div style="width: 500px;height:250px;margin-left: -55%;" class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <h1 class="text-center m-2">Editar diagnostico</h1>
                            
                    </div>
<!--                     <button class="btn btn-outline-danger m-1"><i class="fa fa-ban"></i> Eliminar</button>
 -->                    
            
        </tbody>

    </table>

    
</div>